*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

/*Boot CSS**/

.center{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
} 

.w25{
	width: 25%;
	float: left;
}

.w33{
	width: 33.3%;
	padding: 0 10px;
}

.w50{
	float: left;
	width: 50%;
}

.w30{
	width: 30%;
}

.w70{
	width: 70%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{clear:  both;}

.text-center{ text-align: center; }

/**Estilizacao do sit**/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: #2a3033; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a3033; 
}

html,body{
	height: 100%;
}

body{
	background: #0d0d0d;
}

.container{
	max-width: 900px;
	padding: 0 2%;
	margin: 0 auto;
	border-radius: 15px;
}

.box-center{
	text-align: center;
	margin-top: 40px;
}

.box-center h2{
	font-size: 33px;
  color: #E96A04;
}

.box-center h1{
	color: #ff9500;
	font-size: 20px;
	margin-top: 20px;
	font-weight: 600;
}

.box-center input[type=email]{
	width: 60%;
	height: 45px;
	background: white;
	padding-left: 17px;
	border-radius: 15px;
	border: 0px;
	margin-top: 30px;
	font-size: 14px;
	color: #000712;
	outline: none;
}

.box-center textarea{
	width: 60%;
	height: 200px;
	background: white;
	padding: 17px;
	border-radius: 15px;
	border: 0px;
	margin-top: 10px;
	font-size: 14px;
	color: #000712;
	outline: none;
	resize: vertical;
}

.box-center input[type=submit]{
	font-weight: 700;
	background: #E96A04;
	padding: 15px 45px;
	border-radius: 27px;
	border: 0px;
	font-size: 17px;
	color: white;
	cursor: pointer;
}